/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.library-info-wrapper-div {
	border: 1px solid #000;
	// margin: 20px 0;
	padding: 0;
}

.library-info-wrapper-div h3 {
	padding: 0 1em;
	margin: 0;
}

.wp-block-create-block-library-info-card {
	padding: 1em;
}

.wp-block-create-block-library-info-card input[type='text'] {
	font-family: Gilbert, sans-serif;
	font-size: 2em;
	color: inherit;
	background: inherit;
	border: 0;
}