/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.library-info-wrapper-div {
	border: 1px solid #000;
	// margin: 20px 0;
	padding: 0;
}

.library-info-wrapper-div h3 {
	padding: 0 1em;
	margin: 0;
}

.wp-block-create-block-library-info-card {
	padding: 1em;
	border: 2px solid #53585a;

}

.wp-block-create-block-library-info-card input[type=text] {
	padding: 4px 8px;
	color: #fff;
	margin: 0;
	background: #53585a;
	font-size: 1.6rem;
	font-family: Calluna Sans, sans-serif;

	&:before {
		content: "\f14c";
		display: inline-block;
		margin-right: 5px;
	}
}

.card-type-dropdown-label {
	margin: auto;
	font-size: 14px;
	padding-left: 1em;
}