/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-library-info-card {
	background-color: #ffffff;
	border: 2px solid #53585a;
	margin: 0 auto;
}

:where(.wp-block-columns.is-layout-flex) {
	gap: 1em;
}

.library-info-wrapper-div {
	padding: 1em 0;
}

h2.wp-block-heading {
	padding: 4px 8px;
	color: #fff;
	margin: 0;
	background: #53585a;
	font-size: 1.6rem;
	font-family: Calluna Sans, sans-serif;

	&:before {
		content: "\f14c";
		display: inline-block;
		margin-right: 5px;
	}
}

.dashicons,
.dashicons-before:before {
	vertical-align: inherit !important;
	width: 1em !important;
	font-size: 1em !important;
	vertical-align: middle !important;
	transform: translateY(-5px);
}

.wp-block-table {
	margin: 0 !important;
}

.wp-library-info-card-content {
	margin: 0;
}